
.align{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000714;
    display: flex;
    align-items: center ;
    justify-content: flex-end;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    h1{
        margin-bottom: 200px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 50px;
    }
    .floor{
        width: 100%;
        height: 20vh;
        background-color: grey;
        
    }
    .landingCraft{
        
        width: 20%;
        height: 30vh;
        background-color: #fff;
    }
}
